*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#050816;

color:white;

font-family:Poppins;

overflow-x:hidden;

}

#bg{

position:fixed;

top:0;

left:0;

z-index:-1;

}

nav{

display:flex;

justify-content:space-between;

padding:25px 60px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(10px);

}

.logo{

font-family:Orbitron;

color:#00e5ff;

}

nav ul{

display:flex;

gap:25px;

list-style:none;

}

nav a{

color:white;

text-decoration:none;

transition:.3s;

}

nav a:hover{

color:#00e5ff;

}

.hero{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

text-align:center;

}

.hero h1{

font-size:75px;

font-family:Orbitron;

background:

linear-gradient(
45deg,
#00e5ff,
#8a2be2
);

-webkit-background-clip:text;

color:transparent;

animation:glow 2s infinite alternate;

}

.hero h3{

font-size:28px;

margin:20px;

}

button{

padding:14px 28px;

border:none;

border-radius:10px;

background:#8a2be2;

color:white;

cursor:pointer;

transition:.4s;

}

button:hover{

transform:scale(1.1);

box-shadow:

0 0 20px #8a2be2;

}

.card{

width:80%;

margin:60px auto;

padding:40px;

background:

rgba(255,255,255,.05);

backdrop-filter:blur(15px);

border-radius:20px;

transition:.5s;

}

.card:hover{

transform:

translateY(-10px);

box-shadow:

0 0 25px cyan;

}

.card h2{

font-family:Orbitron;

margin-bottom:20px;

color:#00e5ff;

}
 
.card h2{

font-family:Orbitron;

margin-bottom:20px;

color:#00e5ff;

letter-spacing:2px;

}

.card p{

font-family:Cinzel;

font-size:18px;

line-height:1.8;

color:#dcdcdc;

}

.card h3{

font-family:Cinzel;

font-size:22px;

color:#9fe7ff;

margin-bottom:8px;

}

.skills span{

font-family:Cinzel;

background:#8a2be2;

padding:14px;

border-radius:20px;

transition:.3s;

}
.skills{

display:flex;

flex-wrap:wrap;

gap:15px;

}

.skills span{

background:#8a2be2;

padding:14px;

border-radius:20px;

transition:.3s;

}

.skills span:hover{

transform:scale(1.15);

background:#00e5ff;

}

.hidden{

opacity:0;

transform:

translateY(80px);

transition:all 1s;

}

.show{

opacity:1;

transform:

translateY(0);

}

@keyframes glow{

from{

text-shadow:

0 0 10px cyan;

}

to{

text-shadow:

0 0 25px #8a2be2;

}

}